In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv('Aquaculture.csv', usecols=['Land Area', 'Ocean Area', 'Environment', 'Species', 'Scientific name'])
df.head()

,Land Area,Ocean Area,Environment,Species,Scientific name
0,Africa,Inland waters,Brackishwater,Aquatic plants,Aquatic plants
1,Africa,Inland waters,Brackishwater,Crustaceans,Crustaceans
2,Africa,Inland waters,Brackishwater,Freshwater fishes,Freshwater fishes
3,Africa,Inland waters,Brackishwater,Diadromous fishes,Diadromous fishes
4,Africa,Inland waters,Brackishwater,Marine fishes,Marine fishes

In [11]:
df.shape

(110, 5)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Land Area        110 non-null    object
 1   Ocean Area       110 non-null    object
 2   Environment      110 non-null    object
 3   Species          110 non-null    object
 4   Scientific name  110 non-null    object
dtypes: object(5)
memory usage: 4.4+ KB

In [13]:
df.describe()

       Land Area    Ocean Area    Environment      Species Scientific name
count        110           110            110          110             110
unique         5             2              3            8               8
top         Asia  Marine areas  Brackishwater  Crustaceans     Crustaceans
freq          27            64             46           19              19

In [15]:
df.duplicated().sum()

np.int64(0)

In [17]:
temp = df[df['Land Area'] == 'Asia']

In [18]:
temp.to_csv("Aqua.csv")